@page "/AddCate"
@using Admin.Services
@using Admin.Model
@inject CategoryResponse catere
@inject NavigationManager Navigation

<h3>Thêm loại sản phẩm mới</h3>

<EditForm Model="@newCategory" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="mb-3">
        <label for="name" class="form-label">Tên loại sản phẩm</label>
        <InputText class="form-control" id="name" @bind-Value="newCategory.Name" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Thêm</button>
        <button type="button" class="btn btn-primary" @onclick="NavigateToCategoryPage">Quay về danh sách</button>
    </div>
    
</EditForm>
@code {
    private Category newCategory = new Category();

    private async Task HandleValidSubmit()
    {
        await catere.AddCategoryAsync(newCategory);
        Navigation.NavigateTo("/CatePage");
    }

    private void NavigateToCategoryPage()
    {
        Navigation.NavigateTo("/CatePage");
    }
}
