.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .cart-item img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        margin-right: 20px;
    }

.cart-item-info {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cart-item-title {
    font-weight: bold;
    margin-bottom: 5px;
}

/*.cart-item-price {
    color: black;
}*/

.cart-total {
    font-weight: bold;
    font-size: 18px;
    margin-top: 20px;
}

.cart-summary {
    display: flex; /* Sử dụng flexbox để sắp xếp các phần tử theo hàng */
    justify-content: space-between; /* Phân bố khoảng trống đều giữa các phần tử */
    align-items: center; /* Canh chỉnh các phần tử theo chiều dọc */
}

    .cart-summary a {
        flex: 0 0 33%; /* Nút "Xóa giỏ hàng" chiếm 33.33% chiều rộng */
        max-width: 100%; /* Đảm bảo nút không vượt quá chiều rộng container */
    }

    .cart-summary .btn-success {
        flex: 0 0 65%; /* Nút "Thanh toán" chiếm 66.66% chiều rộng */
        max-width: 100%; /* Đảm bảo nút không vượt quá chiều rộng container */
    }


.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.product-item {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

    .product-item img {
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    }

    .product-item h4 {
        font-weight: bold;
        margin-bottom: 5px;
    }

    .product-item p {
        margin-bottom: 10px;
    }

    .product-item .price {
        font-size: 18px;
        color: #007bff;
    }

    .product-item .add-to-cart-button {
        background-color: #007bff;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .product-item .add-to-cart-button:hover {
            background-color: #0056b3;
        }

.pagination {
    margin-top: 20px;
}

    .pagination .page-item {
        margin: 0 5px;
    }

    .pagination .page-link {
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-decoration: none;
        color: #007bff;
    }

        .pagination .page-link.active {
            background-color: #007bff;
            color: white;
        }

        .pagination .page-link:hover {
            background-color: #0056b3;
            color: white;
        }

.quantity-selector {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background-color: #f0f0f0; /* Màu nền trắng hoặc xám */
    padding: 5px; /* Khoảng cách giữa các phần tử trong quantity-selector */
}

    .quantity-selector button {
        background-color: #ffffff; /* Màu nền trắng */
        border: none;
        cursor: pointer;
        border-radius: 20px; /* Bo tròn ở ngoài rìa 2 bên dấu cộng và trừ số */
    }

.quantity-input {
    flex: 0 0 auto;
    text-align: center;
    border: none;
    background-color: transparent;
    width: 30px; /* Đảm bảo kích thước cố định cho input */
    margin: 0 10px; /* Khoảng cách giữa input và các nút */
}

.decrease-btn,
.increase-btn {
    width: 30px;
    height: 30px;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc; /* Viền xung quanh nút */
}
